{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Empresa Faculdade Inovação Tecnologia<br />
    Rua do Código, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    91010-1010
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@google.com">Suporte@google.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@google.com">Marketing@google.com</a>
    <strong>Coordenação:</strong> <a href="mailto:yasmin_laia@google.com">yasmin_laia@google.com</a>
</address>

{% endblock %}
